* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}
*,
*:before,
*:after {
   box-sizing: border-box;
   outline: none;
}
html,
body {
   height: 100%;
   min-width: 320px;
}
body {
   color: #000;
   line-height: 1;
   font-family: "Arial";
   font-size: 1rem;
}
input,
button,
textarea {
   font-family: "Arial";
   font-size: inherit;
}
button {
   cursor: pointer;
   color: inherit;
   background-color: inherit;
}
a {
   color: inherit;
}
a:link,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
} 
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
.lock body {
   overflow: hidden;
   touch-action: none;
}
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}
.wrapper > main {
   flex: 1 1 auto;
}
.wrapper > * {
   min-width: 0;
}
[class*=__container] {
   margin: 0 auto;
   max-width: 64rem;
   box-sizing: content-box;
}
.footer__container {
   text-align: center;
   line-height: 1.2;
   padding-bottom: 30px;
}
.wrapper {
   background: #000;
   color: #fff;
   font-size: 1rem;
}
.page {
   display: grid;
   max-width: 790px;
   margin: 0 auto;
}
.calc {
   place-self: center;
   display: grid;
}
.screen-calc {
   background: #000;
   color: #fff;
   display: block;
   align-self: center;
   justify-self: end;
   text-align: right;
   font-size: 3.75rem;
   padding: 20px;
   height: 6.25rem;
   overflow: hidden;
   width: 790px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.buttons {
   display: grid;
   place-items: center;
   grid-gap: 10px;
   grid-template-columns: repeat(10, 70px);
}
.button {
   height: 50px;
   width: 70px;
   background: rgb(31, 31, 31);
   border-radius: 30px;
   transition: all 0.1s ease 0s;
   border: 1px solid transparent;
}
.button:active {
   border: 1px solid rgb(139, 139, 139);
   opacity: 0.5;
}
.button.action {
   background: rgb(55, 55, 55);
   border: 1px solid rgb(130, 130, 130);
}
.hidden {
   display: none;
}
sup {
   font-size: 0.8rem;
}
sub {
   font-size: 0.8rem;
}
.bg-grey {
   background: rgb(130, 130, 130);
   color: #000;
}
.main-calc {
   font-size: 1.5625rem;
}
.bg-orange {
   background: rgb(227, 124, 14);
   font-size: 1.875rem;
}
.bg-dark-grey {
   background: rgb(55, 55, 55);
}
